/* Body and page styling */
body {
    font-family: Roboto, sans-serif;
    background-color: #08080B !important;
    color: #76777F !important;
    line-height: 1;
}

/* Navigation styling */
nav {
    background-color: #1B1B1E;
    padding: 10px;
    border-radius: 10px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s;
}

nav ul li a: hover {
    color: #333;
}

/* Section styling */
main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.section {
    margin-bottom: 40px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.section h1 {
    color: #1B1B1E;
}

/* Footer styling */
.footer{
    position: fixed;
    text-align: center ;
    font-size: 16px ;
    font-family: Roboto ;
    width: 600px ;
    height: 50px ;
    background-color: #f6f6f6 ;
}

